ul.igcs-notice {
	/*padding: 7px;
	background: white;*/
	font-size: 20px;
	/*margin-top: 5px;*/
	min-height: 24px;
}

ul.igcs-notice:empty {
	content: "Waiting for download...";
	color: grey;
}

ul.igcs-notice svg {
	display: inline;
}

ul.igcs-notice > li {
	padding: 6px;
	display: inline-block;
	background: white;
	height: 24px;
	width: 24px !important;
}

ul.igcs-notice > li:first-child {
	padding-left: 10px;
}

.fa-ul {
	margin-left: 40px !important;
	/*padding-left: 15px;*/
	background: white;
}

.dl-waiting {
	color: #bbb;
}

.dl-done {
	color: green;
}

.SgTZ1.Tgarh .Slqrh {
	margin-top: 0px;
}
